@import "variables";

.page-title {
    font-size: 3rem;
    font-weight: bold;
    color: $accent-color;
}

.content h2 {
    font-weight: 700;
}

.section {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;

    .description {
        flex: 0 1 600px;
        margin-right: $spacing-unit * 2;
        font-size: 1.1rem;

        > ul {
            padding-left: $spacing-unit * 2;
        }
    }

    .highlight {
        flex: 1 0 300px;
        display: flex;
        flex-flow: row nowrap;
        align-items: stretch;
        align-content: stretch;

        > pre {
            width: 100%;
        }
    }
}