// Our variables
$base-font-family: "Source Sans Pro",sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     8px;

$main-foreground: #ccc;
$main-background: #4a4a4a;
$accent-color: hsl(37, 91%, 55%);
$accent-background: #292929;
$subtle-accent-color: #e0e0e0;
$complementary-color: #008cba;
$divider-color: #8c8c8c;
$code-background: #393939;
$code-border: 1px solid #666;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

$navigation-background-color: hsl(0,0%,20%);
$nav-link-color: hsl(0,0%,95%);